header{
    background: -webkit-linear-gradient(to right, #73bff1fd, #8e8de4);
	background: linear-gradient(to right, #73bff1fd, #8e8de4);
    /*background-color: #4486e9;  Color de fondo del encabezado */
    padding: 20px; /* Espacio interior del encabezado */
    text-align: center;
}

nav {
    position: relative;
    z-index: 1;
    }
    nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 425px;
    }
    
    nav ul li a {
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
        border: none; cursor: pointer;
        background-color:transparent;
        padding: 0; margin: 0;
        font-family: "Inter";
        font-weight: 600;
        font-size: 16px;
        list-style: 22px;
        color: #fff;
        transition: color 0.25s;
    }

    nav ul li.active a {
        color: #00fffc;
        }
        nav ul li:not(.active):hover a {
        color: #807E8C;
        }
        nav .active-element {
        --active-element-scale-x: 1;
        --active-element-scale-y: 1;
        --active-element-show: 0;
        --active-element-opacity: 0;
        --active-element-width: 0px;
        --active-element-strike-x: 0%;
        --active-element-mask-position: 0%;
        position: absolute;
        left: 0;
        top: 40px;
        height: 3px;
        width: 36px;
        border-radius: 2px;
        background-color: #fff;
        opacity: var(--active-element-show);
        }

        nav .active-element > svg,
        nav .active-element .strike {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: var(--active-element-opacity);
        width: var(--active-element-width);
        mix-blend-mode: multiply;
        }
        nav .active-element > svg {
        display: block;
        overflow: visible;
        height: 5px;
        filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4)) drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8)) drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4)) drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45)) drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
        }

        nav .active-element .strike {
            padding: 24px 0;
            -webkit-mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
            mask-image: linear-gradient(to right, transparent calc(0% + var(--active-element-mask-position)), black calc(15% + var(--active-element-mask-position)), black 80%, transparent);
            }
        nav .active-element .strike svg {
        display: block;
        overflow: visible;
        height: 12px;
        width: calc(var(--active-element-width) * 2);
        transform: translate(var(--active-element-strike-x), 30%) scale(var(--active-element-scale-x), var(--active-element-scale-y));
        }

        nav .active-element .strike svg:last-child {
        transform: translate(var(--active-element-strike-x), -30%) scale(-1);
        }
        nav .active-element .strike svg g path:nth-child(2) {
        filter: blur(2px);
        }
        nav .active-element .strike svg g path:nth-child(3) {
        filter: blur(4px);
        }
        nav.before .active-element {
        transform: rotateY(180deg);
        }

        html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        }
        
        * {
        box-sizing: inherit;
        }


.move-right {
    margin-right: -600px;
    margin-left: 400px;
} /* Ajusta el valor según sea necesario */

.move-right2 {
    margin-right: -600px;
    margin-left: 200px;
} /* Ajusta el valor según sea necesario */

/* Estilos para la lista de navegación */
nav ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 20px; /* Elimina el relleno predeterminado de la lista */
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
    display: inline; /* Mostrar los elementos de la lista en línea */
    justify-content: center;
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

nav a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 6px 20px;
    transition: 0.5s;
}

/* Estilos para el estado :active de los enlaces 
nav ul li a:active {
    color: #020302; Cambia el color de texto cuando el enlace está activo (presionado) 
    background-color: #45a049 ;
}
*/
nav a:hover {
    color: #8ef;
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid #bef;
    border-radius: 15px;
    transform: scale(0) translateY(50px); /* Fixed typo in translateY */
    opacity: 0;
    transition: 0.5s;
}
nav a:hover span {
    transform: scale(1) translateY(0); /* Fixed typo in translateY */
    opacity: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container{
    flex-wrap: wrap;
    align-content: space-between;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /*Centrar contenido horizontalmente */
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	overflow: hidden;
	max-width: 100%;
	min-height: 400px;
}

form a{
    border-radius: 20px;
	border: 1px solid #012588;
	background-color: #012588;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 15px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-bottom: 20px;
}

.datos-compra {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center; /* Centrar el texto dentro del label */
    width: 80%;
    margin: 0 auto; /* Centrar horizontalmente el label */
}

.opciones-compra {
	display: grid;
    margin-bottom: 5px;
    color: #555;
    text-align: center; /* Centrar el texto dentro del label */
    margin-right: 10px auto; /* Centrar horizontalmente el label */
	grid-template-columns: repeat(2, auto); /* Dos columnas */
	align-items: center; /* Alinea los elementos verticalmente */
	justify-content: center; 
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: center; /* Centrar el texto dentro del label */
    width: 80%;
    margin: 0 auto; /* Centrar horizontalmente el label */
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 20px 10px;

}
/* Estilo para mostrar el formulario activo */
.form-tarjeta.active {
	display: block;
}

.form-tarjeta {
	background-color: #ffffff;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px /*0 50px*/;
	height: 100%;
	text-align: center;
}

.mensaje {
    display: none;
    margin-top: 20px;
    color: red;
}

div button {
	border-radius: 20px;
	border: 1px solid #012588;
	background-color: #012588;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button {
	border-radius: 20px;
	border: 1px solid #012588;
	background-color: #012588;
	color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #ffffff;
}

img{
    max-width: 130px;
    height: auto;
	float: left;
}


form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px /*0 50px*/;
	height: 100%;
	text-align: center;
}

footer {
    background: -webkit-linear-gradient(to right, #73bff1fd, #8e8de4);
	background: linear-gradient(to right, #73bff1fd, #8e8de4);
    color: #020302; /* Color del texto */
    padding: 20px; /* Espacio interno del footer */
    text-align: center; /* Centra el texto */
}

.footer-container {
    display: flex; /* Utiliza flexbox para distribuir los elementos horizontalmente */
    justify-content: space-around; /* Distribuye uniformemente los elementos */
}

.contactos,.redes-sociales {
    flex: 1; /* Hace que los elementos ocupen el mismo ancho */
    margin: 0 10px; /* Margen entre los elementos */
}


.redes-sociales ul {
    padding: 0;
    list-style: none; /* Elimina los estilos de la lista */
}

.redes-sociales ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.redes-sociales ul li a {
    color: #020302; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.redes-sociales ul li a:hover{
    color: rgb(190, 102, 241);
}

.terminos {
    text-align: center; /* Centra los elementos horizontalmente */
}

.terminos ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
}

.terminos ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 0 10px; /* Espacio entre los elementos */
}

.terminos ul li a {
    color: #131212; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.terminos ul li a:hover {
    color: rgb(190, 102, 241);
}

.contactos {
    text-align: center; /* Centra el contenido */
}

.contactos ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
}

.contactos ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin: 0 10px; /* Espacio entre los elementos */
}

.contactos ul li a {
    color: #131212; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.contactos ul li a:hover {
    color: rgb(190, 102, 241);
}

.footer-container .contactos p {
    font-size: 16px; /* Tamaño de letra para los párrafos dentro de la sección de contactos */
}

.terminos ul p {
    font-size: 16px; /* Tamaño de letra para los párrafos dentro de la lista de términos y condiciones */
}